<div class="carousel h-screen md:h-full bg-[#9ca48d60]">
  <div class="carousel-viewport">
    <div class="carousel-inner" [style.transform]="getTransform()">
      <div class="carousel-item" *ngFor="let item of items">
        <img [src]="item.image" alt="Slide" class="object-cover md:object-fill">
      </div>
    </div>
  </div>
  <div class="carousel-indicators">
    <div class="carousel-bg">
      <div *ngFor="let item of items; let i = index" [class.active]="i === currentIndex" class="carousel-indicator" (click)="navigate(i)"></div>
    </div>
  </div>
</div>