<section class="flex flex-col w-full h-full z-10">

  <div class="flex w-full h-screen justify-center items-center bg-[#9CA48D] md:pb-20" id="home">
    <div class="flex flex-col justify-center items-center w-full gap-10 bg-[#ded9d5] h-[90%] textured-background">
      <h2 class="an-1 text-4xl md:text-6xl font-bold tracking-tight headerName2">{{name}}</h2>
      <h3 class="an-1 text-xl font-medium">{{introduction}}</h3>
      <img src="{{homeImg}}" alt="" width="500px" height="400px" class="an-1 z-100 object-contain md:object-none">
    </div>
  </div>

  <!-- New Therapy section -->
  <div class="overflow-hidden bg-[#9CA48D] py-16">
    <div class="mx-auto max-w-7xl px-4 lg:px-6">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4 w-full">
          <div class="w-full">
            <p class="mt-2 text-3xl font-bold tracking-tight text-black sm:text-4xl">{{psyTitle}}</p>
            <div class="w-full md:w-full bg-[#474747] rounded-xl">
              <p class="mt-6 text-lg leading-8 text-white w-[95%] m-auto flex text-justify h-full">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint omnis ullam provident, error pariatur eum numquam repudiandae sapiente. Aspernatur, ducimus. Ullam amet hic quas et! Aliquid quo ullam culpa.
                Aliquid debitis facere nulla, quo commodi magni, consequuntur esse alias fugiat mollitia quis provident repellat odit totam velit eligendi. Aut assumenda eligendi voluptatem magni ullam tempore laudantium ad possimus et.
                Natus facere dolorum error dolor cupiditate sint fuga et incidunt, sed ut harum repellendus nulla ex ipsa quod sit! Culpa maxime magnam repudiandae cum eveniet aspernatur accusamus neque hic saepe?
                Animi quia accusantium aliquam ipsa nihil adipisci officia, illum quas corporis rerum quibusdam, voluptatem consequuntur, vel qui explicabo cupiditate. Natus ipsum delectus illum culpa adipisci, nostrum doloribus optio architecto voluptates.
                Animi quia accusantium aliquam ipsa nihil adipisci officia, illum quas corporis rerum quibusdam,.
              </p>
            </div>
          </div>
        </div>
        <div class="flex items-start justify-end lg:order-first">
          <img src="{{officeImg}}" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
        </div>
      </div>
    </div>
  </div>

<!-- Therapyst section to delete -->
  <div class="px-6 lg:px-8 bg-[#9ca48d96] h-full md:h-screen" id="psy">
    <div class="mx-auto max-w-8xl text-center bg-[#F0ECE9] h-full md:h-[550px]">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mr-72 pt-5">{{therapyst}}</h2>
      <div class="mt-8 text-lg leading-8 text-justify bloc md:flex gap-10 justify-center max-w-6xl m-auto h-[80%]">
        <div class="w-[90%] md:w-1/2 bg-[white] rounded-xl m-auto">
          <p class="text-justify text-[#596551] mx-4 my-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint omnis ullam provident, error pariatur eum numquam repudiandae sapiente. Aspernatur, ducimus. Ullam amet hic quas et! Aliquid quo ullam culpa.
            Aliquid debitis facere nulla, quo commodi magni, consequuntur esse alias fugiat mollitia quis provident repellat odit totam velit eligendi. Aut assumenda eligendi voluptatem magni ullam tempore laudantium ad possimus et.
            Natus facere dolorum error dolor cupiditate sint fuga et incidunt, sed ut harum repellendus nulla ex ipsa quod sit! Culpa maxime magnam repudiandae cum eveniet aspernatur accusamus neque hic saepe?
          </p>
        </div>
        <div class="w-[90%] md:w-1/2 m-auto">
          <img src="{{officeImg}}" alt="office" class="rounded-xl">
        </div>
      </div>
    </div>
  </div>

  <!-- New therapyst section -->
  <div class="overflow-hidden bg-[#9ca48d96] py-24 sm:py-32 h-full">
    <div class="mx-auto max-w-7xl md:px-6 bg-[#F0ECE9] w-[95%] m-auto h-full">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols lg:items-start">
        <div class="px-6 md:px-0 lg:pr-4 lg:pt-4">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold tracking-tight text-black sm:text-4xl">{{therapyst}}</p>
            <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">
              Je suis psychanalyste, formée au sein de la Fédération Freudienne de Psychanalyse (FFDP)  pendant cinq ans. Cet apprentissage, à la fois théorique et pratique, a été complété par une psychanalyse personnelle et didactique de plusieurs années. Mon activité est supervisée par un psychanalyste de la FFDP, garantissant ainsi le respect du code déontologique.
              J'accueille adultes et adolescents dans mon cabinet situé à Lyon 6ème, pour les accompagner dans un parcours psychanalytique, une psychothérapie de soutien ou une psychothérapie analytique. Ensemble, nous explorerons votre psychisme pour dénouer les fils qui influencent vos pensées, vos émotions et vos comportements actuels. L'objectif est de vous permettre d'accéder à un mieux-être durable, en favorisant votre épanouissement personnel.
              Au cœur de la thérapie, une relation de confiance se tisse entre le patient et le psychanalyste. C'est dans ce climat que vous pourrez explorer votre psyché en profondeur, sans crainte ni retenue. Je suis là pour vous accompagner à chaque étape de ce cheminement, en vous offrant un espace d'écoute attentive et bienveillante. Mon engagement est de vous guider avec respect, en veillant à ce que vous vous sentiez toujours à l'aise.
            </p>
          </div>
        </div>
        <div class="sm:px-6 lg:px-0">

        </div>
      </div>
    </div>
  </div>


  <div class="px-6 lg:px-8 bg-[#9ca48d60] h-full md:h-screen" id="infos">
    <div class="mx-auto max-w-8xl text-center h-full">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl ml-[22rem] pt-5">{{info}}</h2>
      <div class="mt-8 text-lg leading-8 text-justify bloc md:flex gap-10 justify-center max-w-8xl m-auto h-full">
        <div class="w-full md:w-1/2 m-auto z-[-1]">
           <app-map></app-map>
        </div>
        <div class="w-full md:w-1/2 bg-[white] rounded-xl flex flex-col">
          <div class="w-[95%] m-auto flex flex-col gap-1">
            <p><span class="font-bold">Email: </span>{{ infos.email }}</p>
            <p><span class="font-bold">Telephone: </span>{{ infos.telephone }}</p>
            <p><span class="font-bold">Adresse:</span> {{ infos.adresse }}</p>

            <h2 class="font-bold">Accéder au cabinet</h2>
            <p><span class="font-bold">Metro:</span> {{ infos.accederAuCabinet.metro }}</p>
            <div class="flex gap-4">
              <p><span class="font-bold">Bus:</span></p>
              @for (bus of infos.accederAuCabinet.bus; track $index) {
                <p class="flex">{{ bus }}</p>
              }
            </div>
            <h2 class="font-bold">Tarifs</h2>
            <p><span>Psychothérapie de soutien:</span> {{ infos.tarifs.psychotherapieDeSoutien }}</p>
            <p><span>Psychanalyse:</span> {{ infos.tarifs.psychanalyse }}</p>
            <p>{{ infos.tarifs.note }}</p>

            <div class="flex gap-1">
              <h2 class="font-bold">Durée de la séance :</h2>
              <p>{{ infos.dureeDeLaSeance }}</p>
            </div>

            <div class="flex gap-1">
              <h2 class="font-bold">Mode de règlement :</h2>
              @for (mode of infos.modeDeReglement; track $index) {
                <p>{{ mode }}</p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full h-screen justify-center bg-[#9CA48D] pb-20" id="contact">
    <h2 class="text-2xl font-bold tracking-tight sm:text-2xl pt-28">{{rdv}}</h2>
  </div>

</section>