<section class="flex flex-col w-full h-full z-10">

  <div class="flex w-full h-full md:h-screen justify-center items-center bg-[#9CA48D] md:pb-20" id="home">
    <div class="flex flex-col justify-center items-center w-full gap-10 bg-[#ded9d5] h-[90%] textured-background">
      <h2 class="an-1 text-4xl md:text-6xl font-bold tracking-tight headerName2">{{name}}</h2>
      <h3 class="an-1 text-xl font-medium">{{introduction}}</h3>
      <img src="{{homeImg}}" alt="" width="500px" height="400px" class="an-1 z-100 object-contain md:object-none">
    </div>
  </div>

  <div class="px-6 lg:px-8 bg-[#9CA48D] h-full md:h-screen w-full" id="therapy">
    <div class="mx-auto max-w-7xl text-center">
      <h2 class="text-2xl mt-20 lg:mt-0 lg:ml-40 font-bold tracking-tight sm:text-3xl">{{psyTitle}}</h2>
      <div class="mt-8 text-lg leading-8 text-justify bloc md:flex gap-10 justify-center">
        <div class="w-full md:w-1/2 m-auto">
          <img src="{{homeImg}}" alt="office" class="rounded-xl">
        </div>
        <div class="w-full md:w-1/2 bg-[#474747] rounded-xl">
          <p class="text-justify text-white mx-4 my-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint omnis ullam provident, error pariatur eum numquam repudiandae sapiente. Aspernatur, ducimus. Ullam amet hic quas et! Aliquid quo ullam culpa.
            Aliquid debitis facere nulla, quo commodi magni, consequuntur esse alias fugiat mollitia quis provident repellat odit totam velit eligendi. Aut assumenda eligendi voluptatem magni ullam tempore laudantium ad possimus et.
            Natus facere dolorum error dolor cupiditate sint fuga et incidunt, sed ut harum repellendus nulla ex ipsa quod sit! Culpa maxime magnam repudiandae cum eveniet aspernatur accusamus neque hic saepe?
            Animi quia accusantium aliquam ipsa nihil adipisci officia, illum quas corporis rerum quibusdam, voluptatem consequuntur, vel qui explicabo cupiditate. Natus ipsum delectus illum culpa adipisci, nostrum doloribus optio architecto voluptates.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-6 lg:px-8 bg-[#9ca48d96] h-full lg:h-screen" id="psy">
    <div class="mx-auto max-w-8xl text-center bg-[#F0ECE9] h-full md:h-auto">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl pt-5">{{therapyst}}</h2>
      <div class="mt-8 text-lg leading-8 text-justify bloc xl:flex gap-10 justify-center w-[95%] m-auto">
        <div class="lg:grid-cols-2 flex lg:flex-row flex-col w-full lg:w-2/3 rounded-xl m-auto mb-10">
          <div class="lg:w-[48%]">
            <p class="text-justify text-[#596551] mx-4 my-4 text-xl font-bold">{{therapystInfos.intro1}}</p>
            <p class="text-justify text-[#596551] mx-4 my-4">{{therapystInfos.text1}}</p>
            <p class="text-justify text-[#596551] mx-4 my-4">{{therapystInfos.text2}}</p>
          </div>
          <div class="lg:w-[52%]">
            <p class="text-justify text-[#596551] mx-4 my-4 text-xl font-bold">{{therapystInfos.intro2}}</p>
            <p class="text-justify text-[#596551] mx-4 my-4">{{therapystInfos.text4}}</p>
            <p class="text-justify text-[#596551] mx-4 my-4">{{therapystInfos.text3}}</p>
          </div>
        </div>
        <div class="w-[90%] md:w-1/3 m-auto">
          <img src="{{aliseeImg}}" alt="alisée" class="">
        </div>
      </div>
    </div>
  </div>

  <div class="px-6 lg:px-8 bg-[#9ca48d60] h-full lg:h-screen w-full" id="infos">
    <div class="mx-auto max-w-8xl text-center h-full">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl lg:ml-[22rem] mt-10 lg:mt-0 pt-5">{{info}}</h2>
      <div class="mt-8 text-lg leading-8 text-justify bloc md:flex gap-10 justify-center max-w-8xl m-auto h-full">
        <div class="w-full md:w-1/2 m-auto z-[-1]">
           <app-map></app-map>
        </div>
        <div class="w-full md:w-1/2 bg-[white] rounded-xl flex flex-col mt-10 lg:mt-0">
          <div class="w-[95%] m-auto flex flex-col gap-1">
            <p><span class="font-bold">Email: </span>{{ infos.email }}</p>
            <p><span class="font-bold">Telephone: </span>{{ infos.telephone }}</p>
            <p><span class="font-bold">Adresse:</span> {{ infos.adresse }}</p>

            <h2 class="font-bold">Accéder au cabinet</h2>
            <p><span class="font-bold">Metro:</span> {{ infos.accederAuCabinet.metro }}</p>
            <div class="flex gap-4">
              <p><span class="font-bold">Bus:</span></p>
              @for (bus of infos.accederAuCabinet.bus; track $index) {
                <p class="flex">{{ bus }}</p>
              }
            </div>
            <h2 class="font-bold">Tarifs</h2>
            <p><span>Psychothérapie de soutien:</span> {{ infos.tarifs.psychotherapieDeSoutien }}</p>
            <p><span>Psychanalyse:</span> {{ infos.tarifs.psychanalyse }}</p>
            <p>{{ infos.tarifs.note }}</p>

            <div class="flex gap-1">
              <h2 class="font-bold">Durée de la séance :</h2>
              <p>{{ infos.dureeDeLaSeance }}</p>
            </div>

            <div class="flex gap-1">
              <h2 class="font-bold">Mode de règlement :</h2>
              @for (mode of infos.modeDeReglement; track $index) {
                <p>{{ mode }}</p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full h-screen justify-center bg-[#9CA48D] pb-20" id="contact">
    <h2 class="text-2xl font-bold tracking-tight sm:text-2xl pt-28">{{rdv}}</h2>
  </div>

</section>