@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ded9d5;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.headerName {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'zenithCp';
  src: url('./assets/fonts/zenith.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.headerName2 {
  font-family: 'zenithCp', cursive!important;
  font-weight: 400;
  font-style: normal;
}