@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ded9d5;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.headerName {
  font-family: "Cormorant Infant";
  font-weight: 400;
  font-style: normal;
}

.iew-base {
  width: 100% !important;
  max-width: 100% !important;

  .iew-head {
    width: 100% !important;
    display: flex;
    margin: auto;
  }
}

#iew_aw_app {
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 700px !important;
  background-color: #9CA48D;

  @media (max-width: 768px) {
    width: 100% !important;
  }

  div {
    width: 100%;
  }
}

#iew_aw_app .widget-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#iew_aw_app .widget-header {
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#iew_aw_app .widget-content {
  color: #666666;
  font-size: 1rem;
  line-height: 1.5;
}

#iew_aw_app .widget-footer {
  text-align: center;
}

#iew_aw_app .widget-button {
  background-color: #475569;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#iew_aw_app .widget-button:hover {
  background-color: #334155;
}

.ie-loader {
  display: flex;
  margin: auto;
  width: 55px !important;
  height: 55px !important;
  animation: rotateSpinner 800ms linear infinite !important;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in forwards;
}